body{
    margin:0;
    background-color: gray;
}

main{
    grid-template-columns: 50% 50%;
}

footer{
    background-color: whitesmoke;
    padding-bottom: 50px;
    margin-top:100px;
}
/*NAVBAR */
.topnav {
    background-color: crimson;
    overflow: hidden;
}
  
.topnav h2{
    font-family: 'Pokemon Solid', sans-serif;
    float: center;
    display: block;
    color: yellow;
    text-decoration: none;
    font-size: 1.5em;
}
/*NAVBAR */
  
/* POKE-NAME */
.poke-name{
    border-radius: 30px;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding: 5px 50px 5px 50px;
    margin-top:30px;
    margin-bottom:20px;
    font-size: 18px;
    
}

.poke-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* POKE-NAME */


.pokemon-icon{
    max-width: 40px;
}

.flex-container{
    display: flex;
}

/* MAIN IMAGE */
.img-container img{
    max-width:100%;
    max-height: 100%;    
}

.img-container{
    height: 500px;
    width: 500px;
    margin-left: 30px;
}
/* MAIN IMAGE */
.general-container{
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}


.info-container{
    border-radius: 10px;
    height: 100%;
    width: 400px;
    background-color: whitesmoke;
}

.description-container{
    display: flex;
    margin: 5px 10px;
}

.description-title{
    font-family: 'Rowdies', cursive;
    font-size: 25px;
    width: 50%;
}

.description-text{
    font-family: 'Kanit', sans-serif;
    width: 50%;
    margin-top: 30px;
    font-size: 20px;
}

.others-title-container{
    font-family: 'Rowdies', cursive;
    font-size: 25px;
}


.others-container{
    margin-left: 90px;
    margin-top: 20px;
}

.recommended-pokemon-img{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 20px;
    margin-right: 30px;
}

.other-pokemon-link:hover{
    opacity: 0.6;
}


@media  screen and (max-width:930px) {
    
    .info-container{
        padding-top: 100px;
    }

    .others-container{
        margin-left: 60px;
    }

    .recommended-pokemon-img{
        margin-right: 20px;
    }

    .img-container{

        position: relative;
        max-width: 100%;
        max-height: 100%;
    }

    .img-container img{
        max-width: 100%;
        padding-top: 90px;
        margin-right: 50px;
    }

    .poke-name-container{
        margin-bottom: 0;
    }

    .topnav h2{
        text-align: center;
    }

    @media (max-width:630px){

        

        .img-container img{
            max-width: 100%;
            padding-top: 90px;
            margin-right: 50px;
        }

        @media (max-width:550px){

            .recommended-pokemon-img{
                width: 100px;
                height: 100px;
                margin-right: 60px;
            }

            .others-container{
                margin-left: 130px;
            }

            .info-container{
                width: 320px;
            }
        }

        

        @media (max-width:500px){


            .img-container img{
                max-width: 100%;
                max-height: 100%;
                padding-top: 150px;
            }




            @media (max-width:450px){

                .img-container img{
                    padding-top: 150px ;
                }

                .img-container{
                    max-width: 300px;
                    max-height: 400px;
                }


                .info-container{
                    padding-top: 50px;
                }

                .recommended-pokemon-img{
                    width: 100px;
                    height: 100px;
                    margin-right: 25px;
                }

                .others-container{
                    margin-left: 80px;
                }

                @media (max-width:335px){

    
                    .others-container{
                        margin-left: 50px;
                    }
                }

            }
            
            

        }



    }


}


